@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html, body{
	background-color: #f9f9f9;
	font-family: 'Roboto', sans-serif;
}

.fa{
	font-family: 'FontAwesome'
}

header{
	background-color: #2d2d2d;
}

header table{
	width: 100%;
}

div#title-container h1{
	color: #f9f9f9;
	font-size: 42px;
	font-weight: lighter;
	margin-top: 43px;
	margin-left: 5%;
	margin-right: 5%;
}

div#title-container{
	float: right;
	width: calc(100% - 128px);
	height: 128px;
}

div#profile-picture img{
	height: 128px;
	width: 128px;
	float: left;
}

nav{
	clear: both;
}

nav li{
	height: 20px;
	text-align: center;
	padding: 5px;
}

nav a{
	color: #f9f9f9;
	text-decoration: none;
	display: inline-block;
	width: 24%;
}