@charset "utf-8";

// Custom colors
$color-foreground: #a1b0b8;
$color-background: #263238;
$color-black: #252525;
$color-red: #ff5252;
$color-green: #c3d82c;
$color-yellow: #ffd740;
$color-blue: #40c4ff;
$color-magenta: #ff4081;
$color-cyan: #18ffff;
$color-white: #f5f5f5;

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

//$text-color:       #111 !default;
//$background-color: #fdfdfd !default;
//$brand-color:		#2a7ae2 !default;
$text-color:     	$color-foreground;
$background-color:	$color-background;
$brand-color:		$color-blue;

//$grey-color:       #828282 !default;
//$grey-color-light: lighten($grey-color, 40%) !default;
//$grey-color-dark:  darken($grey-color, 25%) !default;
$grey-color:		$color-red;
$grey-color-light: $grey-color;
$grey-color-dark:	$grey-color;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
