<footer class="site-footer">
	<br>
	<ul id="social-icons">
		<li class="fa" title="where I code"><a href="https://github.com/martyschaer">&#xf092;</a></li>
		<li class="fa" title="where I complain about code"><a href="https://twitter.com/martyschaer">&#xf081;</a></li>
		<li class="fa" title="pay for my coffee addiction"><a href="https://www.paypal.me/schaermarius/5">&#xf0f4;</a></li>
		<li class="fa" title="don't really use this one much"><a href="https://plus.google.com/+MariusSchär">&#xf0d4;</a></li>
		<li class="fa" title="Professionalism&#x2122;"><a href="https://www.linkedin.com/in/marius-sch&#x00e4;r/">&#xf08c;</a></li>
	</ul>
	<span id="snarky-comment">painstakingly crafted by hand</span>
</footer>