<header>
	<div id="profile-picture">
		<a href="/"><img alt="picture of my face" src="resources/img/face.jpg"></a>
	</div>
	<div id="title-container">
		<h1>Marius Sch&#x00e4;r</h1>
	</div>
	<nav>
		<ul>
			<a href="/blog" title="I might have opinions"><li class="menu"><span class="fa">&#xf1ea;</span> blog</li></a>
			<a href="https://github.com/martyschaer" title="see my code"><li class="menu"><span class="fa">&#xf092;</span> github<span class="le">&#xf08e;</span></li></a>
			<a href="mailto:contact@mariusschaer.ch" title="write me an email"><li class="menu"><span class="fa">&#xf0e0;</span> email<span class="le">&#xf08e;</span></li></a>
			<a href="/contact" title="more contact information"><li class="menu"><span class="fa">&#xf2bb;</span> contact</li></a>
		</ul>
	</nav>
</header>